[submodule "polymer"]
	path = javascripts/polymer
	url = git@github.com:Polymer/polymer.git
[submodule "webcomponentsjs"]
	path = javascripts/webcomponentsjs
	url = git@github.com:webcomponents/webcomponentsjs.git
